In [1]:
import pandas as pd
name = ["คีย์บอด", "ตุ๊กตา", "เมาส์", "i phone"]
category = ["IT", "ของเล่น", "IT", "mobile"]
price = ["4000", "500", "300", "40000"]

In [2]:
name_series = pd.Series(name)
category_series = pd.Series(category)
price_series = pd.Series(price)

In [3]:
frame = {"ชื่อสินค้า":name_series, "ประเภท":category, "ราคา":price_series}

In [4]:
pf = pd.DataFrame(frame)
pf

  ชื่อสินค้า   ประเภท   ราคา
0    คีย์บอด       IT   4000
1     ตุ๊กตา  ของเล่น    500
2      เมาส์       IT    300
3    i phone   mobile  40000

In [5]:
pf.set_index("ชื่อสินค้า", inplace = True)
pf

             ประเภท   ราคา
ชื่อสินค้า
คีย์บอด          IT   4000
ตุ๊กตา      ของเล่น    500
เมาส์            IT    300
i phone      mobile  40000

In [6]:
pf.to_csv("product.csv") # header = False =>ไม่ใส่หัวคอลั่ม
                         # index = False => ไม่ใส่เลข index