In [4]:
import pandas as pd
df = pd.read_excel('dataupdate.xlsx', 'weather', index_col = "Day")

In [5]:
df.head(10) # ข้อมูล 10 เเถวเเรก

       Temperature  WindSpeed    Event
Day
44166           30          9  แดดร้อน
44167           28          8   เมฆมาก
44168           27          4     ฝนตก
44169           19          3  แดดร้อน
44170           20          5   เมฆมาก
44171           25          6     ฝนตก
44172           36          4     ฝนตก
44173           28          6     ฝนตก
44174           17          5   เมฆมาก
44175           24          6  แดดร้อน

In [6]:
df.tail(5) # ข้อมูล 5 เเถวล้าง

       Temperature  WindSpeed   Event
Day
44191           25          8    ฝนตก
44192           28          9  เมฆมาก
44193           30          2  เมฆมาก
44194           31          1    ฝนตก
44195           35          2    ฝนตก

In [7]:
df.sample(5) #สุ่มข้อมูล 5 แถว

       Temperature  WindSpeed    Event
Day
44190           34          5  แดดร้อน
44186           25          5   เมฆมาก
44173           28          6     ฝนตก
44174           17          5   เมฆมาก
44195           35          2     ฝนตก

In [8]:
df.describe() #ดูค่าทางสถิติ

       Temperature  WindSpeed
count    30.000000  30.000000
mean     27.433333   5.066667
std       5.237026   2.288402
min      17.000000   1.000000
25%      25.000000   4.000000
50%      28.000000   5.000000
75%      30.000000   6.750000
max      38.000000   9.000000

In [10]:
df.shape

(30, 3)

In [11]:
df.columns

Index(['Temperature', 'WindSpeed', 'Event'], dtype='object')

In [12]:
df.values

array([[30, 9, 'แดดร้อน'],
       [28, 8, 'เมฆมาก'],
       [27, 4, 'ฝนตก'],
       [19, 3, 'แดดร้อน'],
       [20, 5, 'เมฆมาก'],
       [25, 6, 'ฝนตก'],
       [36, 4, 'ฝนตก'],
       [28, 6, 'ฝนตก'],
       [17, 5, 'เมฆมาก'],
       [24, 6, 'แดดร้อน'],
       [26, 4, 'ฝนตก'],
       [27, 9, 'แดดร้อน'],
       [30, 2, 'แดดร้อน'],
       [31, 5, 'เมฆมาก'],
       [28, 4, 'แดดร้อน'],
       [27, 7, 'แดดร้อน'],
       [20, 8, 'ฝนตก'],
       [18, 5, 'ฝนตก'],
       [25, 7, 'แดดร้อน'],
       [28, 4, 'เมฆมาก'],
       [25, 5, 'เมฆมาก'],
       [38, 2, 'เมฆมาก'],
       [34, 3, 'ฝนตก'],
       [29, 4, 'ฝนตก'],
       [34, 5, 'แดดร้อน'],
       [25, 8, 'ฝนตก'],
       [28, 9, 'เมฆมาก'],
       [30, 2, 'เมฆมาก'],
       [31, 1, 'ฝนตก'],
       [35, 2, 'ฝนตก']], dtype=object)